 #main
 {
   background: #ece7e7;
   height: 1300px;
 } 
  #main .name
 {
   background: #ece7e7;
   height: 50px;
   width:20%;
   font-size:30px;
   margin-left:40%;
   margin-top:5%;
   text-align:center;
   line-height:50px;
 }
  #main .name > p
 {
   color:#282828;
 }
 #main .danhsach
 {
   background: #ece7e7;
   height: 300px;
   width:100%;
   margin-top:3%;
   margin-left:10%;
 }
  #main .list
 {
   background: #ece7e7;
   height: 300px;
   width:19%;
   margin-left:0.8%;
   float:left;
 }  
  #main .list ul
 {
   margin:0px;
   padding:0px;
   
 }  
  #main .list ul li
 {
   list-style:none;
    text-align:center;
    margin-left:10px;
 }  
 #main .list ul li a img
 {
   width:200px;
   height:200px;
 }  
 #main .list ul li .ten
 {
   color:#282828;
   overflow:hidden;
 }  
  #main .list ul li .price
 {
   color:red;
 }
  #main .list .see_move:hover
 {
   background:pink;
 }
  #main .list img
 {
   height: 300px;
   width:100%;
 }
  #main .show
 {
   background: black;
   height: 30px;
   width:13%;
   font-size:16px;
   margin-left:43%;
   margin-top:7%;
   text-align:center;
   line-height:30px;
 } 
  #main .show a
 {
   text-decoration:none;
   color:white;
   display:block;
 } 
  #main .show a:hover
 {
	 background:pink;
 }
 